body{
    background-color: black;
 
}
.jokes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#jokes-box{
    padding: 10px;
    background-color:blueviolet;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px;
    
}
.btn{
    box-shadow: 2px 2px;
}
.footer{
  
    position: fixed;
    bottom: 20px;
    right: 20px;
    
}
#github-img svg{
    margin-top: 10px;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 5px;
    
}

#github-img svg:hover{
    margin-top: 10px;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 5px;
    scale: 1.05;
    
    
}